<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Always expand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" 
              [class.active]="abaSelecionada == 'home'"
              (click)="abaSelecionada = 'home'">
                Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              [class.active]="abaSelecionada == 'link'"
              (click)="abaSelecionada = 'link'">
                Link
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              [class.active]="abaSelecionada == 'link 2'"
              (click)="abaSelecionada = 'link 2'">
                Link 2
            </a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

<div class="container" [ngSwitch]="abaSelecionada">
  <p *ngSwitchCase="'home'">
    Tu ta na home
  </p>
  <p *ngSwitchCase="'link'">
    Tu ta na Link
  </p>
  <p *ngSwitchCase="'link 2'">
    Tu ta na Link 2
  </p>
</div>
