<!-- <my-first-component></my-first-component> --><!-- MyFirstComponent declarado no código HTML -->
<!-- <app-component-creating-automatically></app-component-creating-automatically>-->
<!--<app-cursos></app-cursos> --><!-- component e module cursos -->
<!--<app-data-binding></app-data-binding>--> <!-- component data-binding -->
<!--<app-ciclo-de-vida [valorRecebido]="valorParaOCicloDeVida" *ngIf="!deletarCiclo"></app-ciclo-de-vida>-->
<!--<button (click)="mudarValor()">Somar +1</button>-->
<!--<button (click)="destruirCiclo()">Destruir Elemento</button>-->
<!--<app-diretiva-ng-if></app-diretiva-ng-if>-->
<!--<app-diretiva-ng-switch></app-diretiva-ng-switch>-->
<!--<app-diretiva-ng-for></app-diretiva-ng-for>-->
<!--<app-diretiva-ng-class></app-diretiva-ng-class>-->
<!--<app-diretiva-ng-style></app-diretiva-ng-style>-->
<!--<app-elvis-operator></app-elvis-operator>-->
<!--<app-ng-content-exemple></app-ng-content-exemple>-->
<!--<app-diretivas-customizadas></app-diretivas-customizadas>-->
<!--<app-component-para-testar-diretiva></app-component-para-testar-diretiva>-->
<!--<app-component-para-testar-diretiva-input-e-property-binding></app-component-para-testar-diretiva-input-e-property-binding>-->
<!--<app-component-para-testar-diretiva-de-estrutura></app-component-para-testar-diretiva-de-estrutura>-->
<!--<cursos></cursos>-->

<!-- <app-component-a></app-component-a>
<app-component-b></app-component-b> -->

<!--<app-component-comunicacao-a></app-component-comunicacao-a>
<app-component-comunicacao-b></app-component-comunicacao-b>-->

<app-usando-pipes-parametros-e-pipes-aninhados></app-usando-pipes-parametros-e-pipes-aninhados>